<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Kids</title>

    <link href="https://fonts.googleapis.com/css2?family=Barrio&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/universal.css">
    <link rel="stylesheet" href="./styles/game.css">
    <link rel="stylesheet" href="./styles/responsive/responsive-game.css">
</head>

<body>
    <div id="stars">
        <h1 id="title">Math Kids</h1>

        <button class="btn" id="restart" onclick="restart()">Reiniciar</button>
        <h2 id="timer">Tempo: 00:00</h2>

        <div class="canvas">

        </div>
        <div class="status-bar">
            <div class="information">
                <h2 id="player">Player</h2>
                <h2 id="score">Pontos:<a class="score">000</a></h2>
                <h2 id="max-score">Máximo:</h2>
            </div>
            <div id="options">
                <button class="btn" id="sound" value="playing" onclick="mute()"><a class="sound-bar">(</a>♪<a
                        class="sound-bar"> )</a></button>
            </div>
        </div>
    </div>

    <!--Alert Dialog-->

    <div id="container" class="ground">
        <span id="box" class="hide">
            <h3>Gostria de salvar sua pontuação?</h3>
            <button class="btn" type="submit" form="update">Sim</button>
            <button class="btn" onclick="notSave()">Não</button>
        </span>

        <span id="begin-box" class="box">
            <h3>Você esta pronto(a)?</h3>
            <button class="btn" id="start" onclick="start()">Começar</button>
        </span>
    </div>

    <!--form do jogador-->

    <form action="update-score" id="update" method="POST">
        <input type="text" id="send-name" name="name">
        <input type="text" id="send-score" name="score">
        <input type="text" id="send-time" name="timer">
    </form>

    <audio src="./sound_effects/background_song.mp3" controls="not" id="bgmusic" loop autoplay></audio>
    <script src="./scripts/game.js"></script>
</body>

</html>