
#title{
    top:-10px;
    left:40%;
}
#restart{
    position:absolute;
    top:15%;
    left:2%;
}

#restart:focus{
    
}

#timer{
    position:absolute;
    font-family: 'Barrio', cursive;
    font-size: 48px;
    top:10%;
    right: 30%;
    color:var(--green)
}

.canvas{
    position: absolute;
    left: 2%;
    top:30%;
    background: rgb(219, 219, 219);
    border:2px black;
    border-radius:12px;
    padding-bottom: 10px;
    width: 77%;
    height:fit-content;
}

.status-bar{
    position: absolute;
    left:80%;
    top:30%;
    width:25%;
    display: flex;
    flex-direction: column;
    margin-left:8px;
}

.status-bar .score{
    text-decoration: none;
    font-family: 'Barrio', cursive;
    color:var(--green);
}

.status-bar h2{
    font-family: 'Work Sans';
    font-weight: bold;
    font-size:34px;
    color:var(--pink-high);
    margin-top: 8px;
    text-emphasis-color: white;
    text-shadow: #c53e55;
}

.status-bar #sound{
    margin-left:20%;
    align-content: center;
    font-size: 48px;
    width: 100px;
    height:100px;
    color:var(--blue)
}

.status-bar #sound:hover{
    color:#29ffedb6;
    background: var(--blue);
    box-shadow:1px 1px 20px var(--blue);
}

.status-bar #sound:focus{
    color:#29ffedb6;
    background: var(--blue);
    box-shadow:1px 1px 20px var(--blue);

}

.status-bar .sound-bar{
    text-decoration: none;
    font-family: Arial;
    font-size:30px;
    font-weight: 100;
}

.card{
    width: 90px;
    height:80px;
    background: white;
    box-shadow: 1px 1px 5px black;
    padding:8px;
    margin:8px 0 0 12px;
    border:0;
    border-radius:8px;
    font-family: 'Barrio', cursive;
    font-size:30px;
    outline:none;
    color:rgba(255, 255, 255, 0);
    display:inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-show{
    width: 90px;
    height:80px;
    background: white;
    box-shadow: 1px 1px 5px black;
    padding:8px;
    margin:8px 0 0 12px;
    border:0;
    border-radius:8px;
    font-family: 'Barrio', cursive;
    font-size:30px;
    outline:none;
    color:var(--green);
    display:inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card h3{

}

/*alert dialog*/
.hide{
    display: none;
}

.ground{
    background: rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 100%;
    border: 300px red;
    position: fixed;
    margin: -8px 0 0 -8px;
}

.box{
    min-width: 300px;
    font-family: 'Work Sans';
    color: var(--green);
    position: absolute;
    right: 37%;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    background: white;
    box-shadow: 1px 1px 5px;
    border: 0;
    text-align: center;
    border-radius: 8px;
}

#bgmusic{
    display: none;
}

/*#start{
    margin-left:0px;
}*/

#update{
    display: none;
}
