body{
    background:linear-gradient(45deg, var(--yellow) 50%, var(--blue) 50%);
    
}

h1{
    font-family: 'Barrio', cursive;
    color:var(--pink-high);
    font-size: 56px;
    position:absolute;
    top:1%;
    left:50%;
    transform: translateX(-50%);
    text-emphasis-color: white;
    text-shadow: 3px 3px 0px #c53e55;
}

.home{
    display:flex;
    flex-direction: column;
    position:absolute;
    align-items: center;
    top:20%;
    left:50%;
    transform: translateX(-50%);
}

#porta{
    width: 100px;
    height:170px;
    background:var(--yellow);
    content: url('/public/porta.png');
}

#porta:hover{
    content: url('/public/porta-aberta.png');
    transition: 800ms;
}

#porta:focus{
    /*tem um bug aqui*/
    
    transition: 400ms;
}

.btn:focus{
    color:var(--pink-low);
    transition:400ms;
    background: var(--pink-high);
    text-emphasis-color: white;
    box-shadow: 1px 1px 20px var(--pink-high);
}

.level{
    display: flex;
    margin:16px 0 28px 0;
}

#select-title{
    color: var(--pink-high);
}

.check{
    font-family: 'Barrio', cursive;
    font-weight: bold;
    font-size: 20px;
    background: white;
    width: 150px;
    height: 50px;
    padding:8px;
    margin: 4px;
    border:0;
    border-radius:8px;
    cursor:pointer;
    outline: none;
    box-shadow: 1px 1px 5px;
    
}

#iniciante{
    color:var(--green);
    box-shadow: 1px 1px 5px;
}

#intermediario{
    color:var(--yellow);
    box-shadow: 1px 1px 5px;
}

#avancado{
    color:var(--red);
    box-shadow: 1px 1px 5px;
}

#iniciante:hover{
    color:white;
    transition:400ms;
    background: var(--green);
    text-emphasis-color: white;
    box-shadow: 1px 1px 20px var(--green);
}

#intermediario:hover{
    color:white;
    transition:400ms;
    background: var(--yellow);
    text-emphasis-color: white;
    box-shadow: 1px 1px 20px var(--yellow);
}

#avancado:hover{
    color:white;
    transition:400ms;
    background: var(--red);
    text-emphasis-color: white;
    box-shadow: 1px 1px 20px var(--red);
}

#iniciante:focus{
    background: var(--green);
    color: white;
    box-shadow: 1px 1px 20px var(--green);
}

#intermediario:focus{
    background: var(--yellow);
    color: white;
    box-shadow: 1px 1px 20px var(--yellow);
}
#avancado:focus{
    background: var(--red);
    color: white;
    box-shadow: 1px 1px 20px var(--red);
}

.hidden{
    transition:400ms;
    display:none;
}

.hide-menu{
    transition:400ms;
    display:none;
}

#dragon-flyer{
    z-index: -1;
    position:absolute;
    left:20%;
}

#dragon-left{
    z-index: -1;
    position: absolute;
   /* left: 20%;
    top:40%;*/
    left:50%;
    transform: translateX(-50%);
    top:60%;
}

#dragon-right{
    z-index: -1;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform:scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    top:40%;
    right:20%;
}

body::after{
    content: " ";
    position: absolute;
    background: var(--blue);/*#62e6db;*/
    top:200px;
    right:0;
    left:0;
    bottom:0;
    box-shadow: 1px 1px 5px black;
    z-index:-2;
}
